html {
    overflow: hidden;
}
html, body, div, h5, h6, p, ul, li {
    margin: 0px;
    padding: 0px;
}
.divSteps{
  width: 563px;
  margin-left: auto;
  margin-right: auto;
}
.login{
  background-color: rgba(211, 211, 212, 0.7);
  width: 481px;
  height: 376px;
  float: right;
  margin-top: 300px;
  margin-right: 68px;
  box-shadow: 0 0 10px #525252;
  border: 1px solid #D3D3D4;
  border-radius: 4px;
}
.login .loginForm{
  width: 481px;
  float: right;
}
.login .divSelectTheme{
  position: fixed;
  bottom: 15px;
  right: 10px;
}
.login .divSelectTheme .divThemeTitle{
  color: white;
  margin-bottom: 5px;
}
.login .divSelectTheme img{
  width: 152px;
  margin-right: 10px;
  border: 1px solid #585858;
  box-shadow: 0 0 6px #5a5a5a;
  cursor: pointer;
  transition: box-shadow 0.5s,border 0.5s;
}
.login .divSelectTheme img:hover{
  width: 152px;
  margin-right: 10px;
  border: 1px solid #698ee2;
  box-shadow: 0 0 6px #3b83ce;
  cursor: pointer;
  transition: box-shadow 0.5s, border 0.5s;
}
.login canvas{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 1;
  height: 100%;
  width: 100%;
  background-color: black;
  display: none;
}
.login .divTopHeader{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 62px;
  background-color: hsla(0,0%,100%,.15);
}
.login .divTopHeader img{
  height: 30px;
  margin: 15px;
}
.login .divTopHeader div{
  color: #afafaf;
  font-size: 14px;
  text-align: center;
  float: right;
  margin: 22px;
}
.login .ant-row .ant-input-group-addon{
  width: 40px;
  font-size: 14px;
  background-color: #fff;
}
.login .ant-row .ant-input-lg{
  height: 40px;
  font-size: 14px;
}
.login .divHeader{
  text-align: center;
  padding-top: 23px;
}
.login .divHeader .divTitle{
  font-size: 22px;
  margin-bottom: -11px;
}
.login-form {
  max-width: 346px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.login .divCopyright{
  text-align: center;
  margin-top: 36px;
  color: #979797;
  font-weight: 100;
  font-size: 10px;
}
.login .divFooter{
  text-align: center;
  color: #979797;
  font-weight: 100;
  font-size: 14px;
  position: fixed;
  width: 100%;
  left: 0px;
  height: 50px;
  bottom: 0px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
  margin-top: 5px;
  border: none !important;
  height: 40px !important;
  background-color: #5a5a5a !important;
}

#app {
    .icp-selector {
      width: 60px;
    }
    .ant-layout-sider-collapsed .anticon {
      font-size: 16px;
      margin-left: 8px;
    }
    .ant-layout-sider-collapsed .nav-text {
      display: none;
    }
    .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
      display: none;
    }
    /* 左侧导航固定宽度 */
    #leftMenu {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: #333;
        z-index: 1;
        box-sizing: border-box;
    }

    /* logo样式 */
    #logo {
        display: block;
        margin: 20px auto;
        cursor: pointer;
        min-height: 60px;
    }

    /* 右侧宽度自适应 */
    #rightWrap {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px 20px 0 20px;
        position: absolute;
        top: 0;
        left: 200px;
        right: 0;
        bottom: 0;
        overflow-y: auto;
    }

    .right-box {
        box-sizing: border-box;
        padding: 20px 20px 0;
        position: absolute;
        top: 73px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
    }

    #rightWrap .ant-menu-submenu {
        float: right;
    }

    .chart-box {
        margin-top: 30px;
    }

    .ege {
        display: inline-block;
        margin-top: 10px;
    }

    .ege a {
        color: #009688;
        font-size: 16px;
    }

    .lastPic {
        display: block;
        margin: 16% auto 0;
    }

    .ani-box {
        font-size: 14px;
    }
    .ani-box .divDashBoard{
        width: 503px;
        padding: 8px;
        padding-right: 15px;
        background-color: #408fab;
        color: #fff;
        display: inline-block;
        margin-right: 10px;
    }
    .ani-box .divBars{
        width: 720px;
        height: 278px;
        display: inline-block;
        vertical-align: bottom;
    }
    .ani-box .divDashBoard .btnModifyInfo{
        float: right;
    }
    .ani-box .divDashBoard .divTitle{
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
    .ani-box .divDashBoard .divTitle .divName{
        font-size: 17px;
        font-weight: bold;
        font-family: 'Microsoft Yahei';
    }
    .ani-box .divDashBoard .divTitle .iconLocation{
        color: white;
        font-size: 15px;
        vertical-align: baseline;
        margin-right: 4px;
        line-height: 24px;
    }
    .ani-box .divDashBoard .divTitle img{
        border-radius: 50%;
        width: 95px;
        height: 95px;
        float: left;
        margin-right: 10px;
    }
    .ani-box .divDashBoard .divOverview{
        margin-left: 10px;
        margin-right: 10px;
        min-height: 21px;
        max-height: 67px;
        margin-bottom: 6px;
        overflow-y: auto;
    }
    .ani-box .divDashBoard .divOverview::-webkit-scrollbar
    {
        width: 8px;
        height: 8px;
    }
    .ani-box .divDashBoard .divOverview::-webkit-scrollbar-track-piece
    {
        background-color: #408FAB;
        -webkit-border-radius: 8px;
    }
    .ani-box .divDashBoard .divOverview::-webkit-scrollbar-thumb:vertical
    {
        height: 5px;
        background-color: #FFF;
        -webkit-border-radius: 8px;
    }
    .ani-box .divDashBoard .divOverview::-webkit-scrollbar-thumb:horizontal
    {
        width: 5px;
        background-color: #408FAB;
        -webkit-border-radius: 8px;
    }
    .ani-box .divDashBoard .divOtherInfo{
        margin-left: 10px;
        margin-right: 10px;
        line-height: 32px;
        flex-direction: row;
        display: flex;
        border-top: 1px solid #FFF;
    }
    .ani-box .divDashBoard .divOtherInfo .iconLocation{
        color: white;
        font-size: 15px;
        vertical-align: baseline;
        margin-right: 4px;
        margin-left: 4px;
        line-height: 24px;
        cursor: pointer;
    }
    .ani-box .divDashBoard .divOtherInfo div{
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }
    .ani-box .divDashBoard .divOtherInfo1{
        margin-left: 10px;
    }
    .doclist {
        line-height: 40px;
    }

    .progress-wrap {
        width: 600px;
        margin: 0 auto;
        .ant-progress-line {
            margin: 10px 0;
        }
        .ant-progress-circle {
            margin: 10px 10px;
        }
    }

    .carousel-wrap {
        width: 350px;
        height: 220px;
        margin: 0 auto;
        img {
            width: 350px;
            height: 220px;
        }
    }


    .divItemLine{
      border-radius: 6px;
      border: 1px solid #bdbdbd;
      box-shadow: 0 0 6px #bdbdbd;
      margin-left: 13px;
      margin-bottom: 10px;
      .divUserHead{
        display: inline-block;
        vertical-align: top;
        .userHead{
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 2px solid #a7a7a7;
          box-shadow: 0 0 10px #bdbdbd;
        }
        .imgFeedback{
          width: 80px;
          height: 80px;
          box-shadow: 0 0 10px #bdbdbd;
        }
        .imgCoverPicture{
          width: 80px;
          height: 91px;
          border: 1px solid #bfbfbf;
          box-shadow: 0 0 10px #bdbdbd;
          background-image: url('/src/styles/images/default.jpg');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        .imgPromotion{
          position: absolute;
          display: none;
          margin-left: 47px;
          margin-top: -30px;
        }
      }
      .userInfo{
        display: inline-block;
        margin-left: 10px;
        font-size: 15px;
      }
      .userInfo .divContent{
        margin-bottom: 5px;
      }
      .userInfo .pOverview .iconLike{
        font-size: 19px;
        margin-right: 5px;
        vertical-align: top;
        color: #cacaca;
      }
      .userInfo .pOverview .iconEye{
        font-size: 19px;
        margin-right: 5px;
        margin-left: 11px;
        vertical-align: text-bottom;
        color: #cacaca;
      }
      .userInfo .pOverview .iconLock{
        float: right;
        color: white;
        display: inline-block;
        background-color: #de4343;
        border-radius: 15%;
        padding: 4px;
        margin-left: 10px;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: -47px;
      }
      .userInfo .pOverview .iconUnLock{
        float: right;
        color: white;
        display: inline-block;
        background-color: #108ee9;
        border-radius: 15%;
        padding: 4px;
        margin-left: 10px;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: -47px;
      }
      .userInfo .pOverview{
        margin-top: 6px;
      }
      .userInfo .pOverview img{
        width: 20px;
        vertical-align: middle;
        margin-left: 8px;
        margin-top: -4px;
      }
    }
    .divItemLine:hover{
      border-radius: 6px;
      border: 1px solid #bdbdbd;
      box-shadow: 0 0 6px #bdbdbd;
      background-color: #F4F4F4;
      cursor: pointer;
    }
    .divUpdateVideo{
      margin-bottom: 10px;
      text-align: right;
      margin-right: 15px;
    }
    .divCommentItem:hover{
      box-shadow: 0 0 6px #8cc7f3;
      border: 1px solid #66b6f1
    }
    .divCommentItem{
      border-radius: 6px;
      border: 1px solid #bdbdbd;
      box-shadow: 0 0 6px #bdbdbd;
      width: 560px;
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 10px;
      transition: border 0.5s, box-shadow 0.5s;
      .divReply{
        padding-left: 49px;
        border-top: 1px dashed #d8d8d8;
        padding-top: 9px;
        background-color: #f5fbff;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      .divReplyTitle{
        border-left: 3px solid #41d07a;
        text-align: left;
        padding-left: 7px;
      }
      .btnOperation{
        float: right;
        margin-top: -3px;
        margin-right: 9px;
      }
      img{
        width: 34px;
        height: 34px;
        box-shadow: 0 0 6px #c3c3c3;
        border: 1px solid #d2d2d2;
        border-radius: 50%;
        float: left;
        margin: 5px;
      }
      .spanStatus{
        float: right;
        margin-top: 14px;
        margin-right: 8px;
      }
      .btnStatus{
        float: right;
        margin-top: 8px;
        margin-right: 9px;
      }
      .divName{
        text-align: left;
        margin-top: 11px;
        font-size: 15px;
        margin-left: 50px;
        font-weight: bold;
        width: 314px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      .divContent{
        text-align: left;
        height: 43px;
        padding: 6px;
        width: 546px;
        margin-left: 1px;
        margin-top: 6px;
        position: absolute;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        cursor: pointer;
      }
      .divTimer{
        text-align: right;
        padding-right: 10px;
        margin-top: 48px;
        padding-bottom: 5px;
      }
    }
    .divItem{
      border-radius: 6px;
      border: 1px solid #bdbdbd;
      box-shadow: 0 0 6px #bdbdbd;
      width: 370px;
      display: inline-block;
      margin-left: 17px;
      margin-bottom: 10px;
      .divUserHead{
        display: inline-block;
        vertical-align: top;
        .userHead{
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 2px solid #a7a7a7;
          box-shadow: 0 0 10px #bdbdbd;
        }
        .imgFeedback{
          width: 80px;
          height: 80px;
          border: 2px solid #a7a7a7;
          box-shadow: 0 0 10px #bdbdbd;
        }
      }
      .userInfo{
        display: inline-block;
        margin-left: 10px;
        font-size: 15px;
        margin-top: 7px;
        .divContent{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 242px;
        }
        .pOverview{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 246px;
        }
      }
      .videoTag{
        width: 336px;
        height: 252px;
      }
    }
    .divItem:hover{
      border-radius: 6px;
      border: 1px solid #bdbdbd;
      box-shadow: 0 0 6px #bdbdbd;
      background-color: #F4F4F4;
      cursor: pointer;
    }
    .ant-card-body {
      padding: 16px !important;
    }
    .divBaseInfo{
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      min-width: 425px;
      .divTitle{
        line-height: 40px;
        font-size: 16px;
        font-weight: bold;
        padding-left: 10px;
        border-top: 2px solid #CBDEDC;
        border-bottom: 1px solid #CBDEDC;
        background-color: #F9F9F9;
        margin-top: 4px;
        img{
          width: 20px;
          vertical-align: middle;
          margin-left: 8px;
          margin-top: -4px;
        }
      }
      .imgHeader{
        width: 99px;
        height: 99px;
        margin-right: 10px;
        border: 2px solid #cbdedc;
      }
      .rowLine{
        padding: 10px;
        font-size: 14px;
        font-family: 'Microsoft Yahei';
        color: #5d5d5d;
        margin-top: 5px;
      }
      .rowLineStudnet{
        padding: 10px;
      }
      .rowLineStudnet:hover{
        padding: 10px;
        background-color: #e1f3f1;
        cursor: pointer;
      }
      .divContent{
        max-height: 50px;
        padding-left: 10px;
        padding-top: 10px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      .divTimer{
        padding-left: 10px;
      }
      .btnReply{
        float: right;
        margin-top: 7px;
        margin-right: 10px;
      }
      .divReply{
        border: 1px solid #C2B6B3;
        background-color: #D9CBAD;
        color: black;
        padding: 6px;
        margin-top: 20px;
      }
    }
    .divPersonalInfo .divContent{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    .divPersonalInfo .divContent .divTitle{
      background-color: #404040;
      height: 38px;
      padding-top: 9px;
      font-size: 14px;
      color: white;
      text-align: center;
      box-shadow: 0 0 6px #404040;
    }
    .divPersonalInfo .divContent .divTitle .btnEdit{
      float: right;
      margin-right: 8px;
      margin-top: -4px;
    }
    .divPersonalInfo .divContent table{
      width: 100%;
      height: 100%;
      background-color: #404040;
      box-shadow: 0 0 6px #404040;
      table-layout: fixed;
    }
    .divPersonalInfo .divContent table tr{
      line-height: 44px;
    }
    .divPersonalInfo .divContent table tr:nth-child(even){
      background-color: #ADBA7D;
    }
    .divPersonalInfo .divContent table tr:nth-child(odd){
      background-color: white;
    }
    .divPersonalInfo .divContent table tr td{
      background-color: white;
    }
    .divPersonalInfo .divContent table tr .tdImage{
      text-align: center;
      width: 145px;
    }
    .divPersonalInfo .divContent table tr .tdImage img{
      width: 100px;
      height: 129px;
      vertical-align: middle;
      border: 1px solid #333333;
      margin-top: 10px;
      margin-bottom: 10px;
      box-shadow: 0 0 6px #404040;
      cursor: pointer;
    }
    .divPersonalInfo .divContent table tr .tdTitle{
      text-align: right;
      width: 10%;
    }
    .divPersonalInfo .divContent table tr .tdValue{
      text-align: left;
      padding-left: 10px;
    }
    .divPersonalInfo .divContent table tr .tdTitleArea{
      text-align: right;
      vertical-align: initial;
    }
    .divPersonalInfo .divContent table tr .tdTextArea{
      text-align: left;
      padding-left: 10px;
      height: 100px;
      vertical-align: initial;
    }
    .divSelectType{
        text-align: center;
        margin-top: 20px;
    }
    .divSelectType .formDiv{
        margin-bottom: 10px;
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }
    .divSelectType .btnNextStep{
        width: 90px;
    }
    .divSelectType .btnBackStep{
        width: 75px;
        margin-right: 10px;
    }
    .divArticleContent{
        width: 100%;
        min-width: 600px;
        max-width: 600px;
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .divArticleContent .divArticleItem{
        margin-bottom: 10px;
        border: 1px solid #d8d8d8;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0 0 10px #e2e2e2;
    }
    .divArticleContent .divArticleItem .divCommentEmptyData{
        border: 1px dashed #bbbbbb;
        padding: 10px;
        width: 568px;
        margin-left: 15px;
        background-color: #f9f9f9;
        margin-bottom: 10px;
    }
    .divArticleContent .divArticleItem .divTitle{
        background-color: #4B95E9;
        color: white;
        line-height: 32px;
        margin-bottom: 10px;
        margin-top: -10px;
        font-size: 15px;
    }
    .divArticleContent .divArticleItem .divTitle .btnEnableSorting{
        transform: rotate(90deg);
        float: right;
        margin: 2px;
        margin-right: 3px;
    }
    .divArticleContent .divArticleItem .divTitle .btnEnableSorting:hover{
        transform: rotate(90deg);
        margin: 2px;
        margin-right: 3px;

        background: white !important;
        border-color: #ffffff !important;
        color: #f16b6b !important;

    }
    .divArticleContent .divArticleItem .divSubItem{
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        width: 352px;
        border: 1px solid #cacaca;
        box-shadow: 0 0 6px #d8d8d8;
        padding: 7px;
        background-color: white;
    }
    .divArticleContent .divArticleItem .divSubItem .btnDeleteImage{
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        opacity: 0.5;
        transition: opacity 0.5s
    }
    .divArticleContent .divArticleItem .divSubItem:hover .btnDeleteImage{
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        opacity: 1;
        transition: opacity 0.5s
    }
    .divArticleContent .divArticleItem .divSubItem .iconLike{
        font-size: 19px;
        margin-right: 5px;
        vertical-align: top;
        color: #cacaca;
      }
      .divArticleContent .divArticleItem .divSubItem .iconEye{
        font-size: 19px;
        margin-right: 5px;
        margin-left: 11px;
        vertical-align: text-bottom;
        color: #cacaca;
      }
    .divArticleContent .divArticleItem .divSubItem .divArticleTitle{
        line-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }
    .divArticleContent .divArticleItem .divSubItem .divArticleContent1{
        line-height: 21px;
        height: 41px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        cursor: pointer;
    }
    .divArticleContent .divArticleItem .divSubItem .videoTag{
        width: 336px;
        height: 252px;
    }
    .divArticleContent .divArticleItem .divSubItem .audioTag{
        width: 336px;
        height: 40px;
    }
    .divArticleContent .divArticleItem .divSubItem .divThumbnail{
        text-align: center;
    }
    .divArticleContent .divArticleItem .divSubItem .divThumbnail img{
        cursor: pointer;
        min-height: 33px;
    }
    .divArticleContent .divArticleItem .divSubItem .deleteVideo{
        margin-right: 10px;
    }
    .divArticleContent .divArticleItem .divSubItem .imgCoverPicture{
        width: 107px;
        height: 163px;
        float: left;
        box-shadow: 0 0 6px #c3c3c3;
        border: 1px solid #d2d2d2;
        margin-right: 10px;
        margin-top: 5px;
    }
    .divArticleContent .divArticleItem .divSubItem .divContent ul{
        margin-left: 17px;
        list-style: initial;
    }
    .divArticleContent .divArticleItem .divSubItem .divContent table{
        border: none;
        border-collapse: collapse;
        table-layout: fixed;
        margin-top: 5px;
    }
    .divArticleContent .divArticleItem .divSubItem .divContent table td{
        border: 1px solid #999;
        padding: 3px 5px;
        min-width: 50px;
        height: 20px;
    }
    .divArticleContent .divArticleItem .divFooter{
        border-top: 1px dashed #D8D8D8;
        padding-top: 10px;
    }
    .divArticleContent .divArticleItem .divTitle .iconPlate{
        position: absolute;
        margin-left: -261px;
        margin-top: 8px;
        font-size: 19px;
        color: #ffffff;
    }
    .divArticleContent .divArticleItem .divTitle .iconComment{
        position: relative;
        margin-left: 8px;
        margin-top: 7px;
        font-size: 19px;
        color: #ffffff;
        float: left;
    }
    .divArticleContent .divArticleItem .divTitle .anticon-link{
        position: relative;
        margin-left: 8px;
        margin-top: 7px;
        font-size: 19px;
        color: #ffffff;
        float: left;
    }
    .divArticleContent .divArticleItem .divTitle .iconSolution{
        position: relative;
        margin-left: 8px;
        margin-top: 7px;
        font-size: 19px;
        color: #ffffff;
        float: left;
    }
    .divPastArticles{
        text-align: initial;
    }
    .divPastArticles .divPastItem{
        text-align: left;
        display: list-item;
        margin-left: 31px;
        color: #7A8DAA;
        cursor: pointer;
        line-height: 30px;
        padding-left: 8px;
    }
    .divPastArticles .divPastItem:hover{
        color: #5200CF;
        background-color: #f3f3f3;
    }
    .divPastArticles .divPastItem .divText{
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        width: 497px;
        display: inline-block;
        margin-right: 8px;
    }
    .divSignUp{
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        height: 27px;
        padding-top: 3px;
    }
    .divSignUp button{
        margin-top: -3px;
        margin-left: 136px;
    }
    .divType{
        float: left;
        padding-left: 12px;
    }
    .divType .selectType{
        margin-right: 10px;
    }
    .divSelectType1{
        float: initial;
        margin-bottom: 10px;
        padding-left: 12px;
    }
    .divSelectType1 .selectType{
        margin-right: 10px;
    }
    .divEmptyData{
        margin-bottom: 20px;
        border: 1px solid gainsboro;
        padding: 29px;
        font-size: 18px;
        text-align: center;
        background-color: #f9f9f9;
    }
    .divFlexList{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .divArticleTitle1{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 327px;
    }
    .divArticleContent2{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 359px;
    }
    .divStatus{
        padding-left: 12px;
        margin-bottom: 10px;
    }
    .divPwdStrength{
      position: absolute;
      margin-top: -172px;
      margin-left: 292px;
    }
    .divPwdStrength label{
      color: #9c9c9c;
      vertical-align: text-bottom;
    }
    .divPwdStrength .divPwdNormal{
      background-color: #F3F3F3 !important;
    }
    .divPwdStrength .divPwdWeak{
      width: 27px;
      height: 12px;
      background-color: #FCDC96;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      display: inline-block;
      border-right: 1px solid #eaeaea;
    }
    .divPwdStrength .divPwdMiddle{
      width: 27px;
      height: 12px;
      background-color: #B7E3A5;
      display: inline-block;
      border-right: 1px solid #eaeaea;
    }
    .divPwdStrength .divPwdStrong{
      width: 27px;
      height: 12px;
      background-color: #87D068;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      display: inline-block;
      margin-right: 8px;
    }
}
.divThumbsUp{
    max-width: 322px;
    text-align: left;
    max-height: 129px;
    overflow-y: auto;
    padding-left: 3px;
}
.divThumbsUp .divItem{
    width: auto;
    display: inline-block;
    padding-top: 2px;
    margin-right: 10px;
    margin-bottom: 4px;
}
.divThumbsUp .divItem .imgAvatar{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
    box-shadow: 0 0 3px #000000;
    border: 1px solid #ffffff;
    margin-top: -3px;
}
.divThumbsUp .divItem .spanComment{
    color: #108ee9;
}
.divThumbsUp .divItem .spanReply{
    color: #ff5de2;
}
.divThumbsUp::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
.divThumbsUp::-webkit-scrollbar-track-piece
{
    background-color: #ececec;
    -webkit-border-radius: 6px;
}
.divThumbsUp::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #c5c5c5;
    -webkit-border-radius: 6px;
}
.divCommentDetail{
    width: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.divCommentDetail .divContainer{
    width: 535px;
}
.divCommentDetail .divCommentParent{
    padding: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
}
.divCommentDetail .divCommentParent img{
    border: 2px solid #eaeaea;
    box-shadow: 0 0 8px #dedede;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    float: left;
    margin-right: 8px;
}
.divCommentDetail .divCommentParent .divContent{
    text-align: left;
    color: black;
}
.divCommentDetail .divCommentParent .divContent .divOverview{
    margin-top: 8px;
    max-height: 35px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
}
.divCommentDetail .divThumbsList{
    max-height: 411px;
    background-color: #FFF;
    margin-top: 13px;
    padding-bottom: 4px;
}
.divCommentDetail .divThumbsList .divTitle{
    line-height: 39px;
    color: #595F67;
    text-align: left;
    padding-left: 10px;
    border-bottom: 2px solid #F7F7F7;
    font-size: 15px;
}
.divCommentDetail .divThumbsList .divThumbsContent{
    max-height: 359px;
    overflow-y: auto;
    margin-right: 3px;
    margin-top: 5px;
}
.divCommentDetail .divThumbsList .divThumbsContent::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
.divCommentDetail .divThumbsList .divThumbsContent::-webkit-scrollbar-track-piece
{
    background-color: #ececec;
    -webkit-border-radius: 6px;
}
.divCommentDetail .divThumbsList .divThumbsContent::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #c5c5c5;
    -webkit-border-radius: 6px;
}
.divCommentDetail .divThumbsList .divItem{
    height: 63px;
    padding: 8px;
    margin: 8px;
    padding-top: 12px;
}
.divCommentDetail .divThumbsList .divColor1{
    background-color: #fffdcc;
}
.divCommentDetail .divThumbsList .divColor1 .spanText{
    color: #f1c40f;
    font-weight: bold;
}
.divCommentDetail .divThumbsList .divColor2{
    background-color: #e1febc;
}
.divCommentDetail .divThumbsList .divColor2 .spanText{
    color: #72c02c;
    font-weight: bold;
}
.divCommentDetail .divThumbsList .divColor3{
    background-color: #e0f3fe;
}
.divCommentDetail .divThumbsList .divColor3 .spanText{
    color: #3498db;
    font-weight: bold;
}
.divCommentDetail .divThumbsList .divColor4{
    background-color: #fee0e0;
}
.divCommentDetail .divThumbsList .divColor4 .spanText{
    color: #e74c3c;
    font-weight: bold;
}
.divCommentDetail .divThumbsList .divColor5{
    background-color: #f7f7f7;
}
.divCommentDetail .divThumbsList .divColor5 .spanText{
    color: #555;
    font-weight: bold;
}
.divCommentDetail .divThumbsList .divItem img{
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
.divCommentDetail .divThumbsList .divItem div{
    text-align: left;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.divCommentDetail .divThumbsList .divEmptData{
    border: 1px dashed #c7c7c7;
    background-color: whitesmoke;
    padding: 10px;
    margin: 9px;
}
.divCommentDetail .divComment{
    background-color: #FFF;
    padding: 15px;
    box-shadow: 3px 3px 4px #dcdcdc;
    width: 558px;
    margin-bottom: 27px;
}
.divCommentDetail .divComment .imgQuotes{
    position: absolute;
    display: block;
    margin-top: -5px;
}
.divCommentDetail .divComment .imgDownArrow{
    position: absolute;
    margin-left: -216px;
    margin-top: 15px;
}
.divCommentDetail .divComment .divCommentContent{
    max-height: 61px;
    width: 100%;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    white-space: normal;
    padding-left: 35px;
    font-size: 14px;
}
.divCommentDetail .divComment .divOtherInfo{
    text-align: right;
    margin-top: 5px;
    color: #a2a2a2;
}
.divArticleThumbsUps{
    max-width: 1097px;
    max-height: 484px;
    white-space: normal;
    overflow-y: auto;
    margin-bottom: 10px;
    text-align: left;
}
.divArticleThumbsUps::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
.divArticleThumbsUps::-webkit-scrollbar-track-piece
{
    background-color: #ececec;
    -webkit-border-radius: 6px;
}
.divArticleThumbsUps::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #c5c5c5;
    -webkit-border-radius: 6px;
}
.divArticleThumbsUps .divItemThumbsUps{
    border: 1px solid #E7EBED;
    background-color: #fff;
    margin-right: 10px;
    padding: 10px;
    min-width: 260px;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.divArticleThumbsUps .divItemThumbsUps:hover{
    background-color: #f3f3f3;
}
.divArticleThumbsUps .divItemThumbsUps .imgAvatar{
    border-radius: 50%;
    width: 78px;
    height: 78px;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 6px #c7c7c7;
}
.divArticleThumbsUps .divItemThumbsUps .divNickName{
    color: #666A6C;
    font-size: 16px;
    font-weight: bold;
    width: 238px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 36px;
}
.divArticleThumbsUps .divItemThumbsUps .divText{
    width: 238px;
    min-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.divVideo{
    width: 100%;
    text-align: center;
}
.divVideo .divFlexRow{
    display: flex;
    flex-direction: row;
}
.divVideo .divFlexRow img{
    width: 105px;
    max-height: 137px;
    border: 1px solid #cecece;
    box-shadow: 0 0 6px #cecece;
}
.divVideo .divFlexRow .divFlexColumn{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.divVideo .divItem{
    margin-bottom: 10px;
    vertical-align: top;
}
.divVideo .iptAuthor{
    width: 628px;
    vertical-align: baseline;
    resize: none;
}
.divVideo .btnClose{
    margin-right: 10px;
}
.btnGreen{
    color: #fff !important;
    background-color: #1BB394 !important;
    border-color: #1BB394 !important;
}
.btnGreen:hover{
    color: #fff !important;
    background-color: #19A689 !important;
    border-color: #19A689 !important;
}
.btnPersonalClose{
  margin-right: 10px;
}
//模式窗 居中显示
.ant-modal-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  text-align: center;
  white-space: nowrap;
}
.ant-modal-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.ant-modal-wrap .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  height: 45px !important;
  padding: 0 !important;
}
.upload-list-inline .ant-upload-list-item a{
  top: 2px;
  left: 3px;
}
.upload-list-inline .ant-upload-list-item a img{
  width: 39px;
  height: 39px;
}
.upload-list-inline .ant-upload-list-item-uploading .ant-upload-list-item-thumbnail{
  width: 39px;
  height: 39px;
  top: 0px;
  left: 3px;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
.inputFile{
  display: inline !important;
  width: 99px;
  height: 29px;
  border: 1px solid red;
  opacity: 0;
  margin-left: 0px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}
.inputFileNewWidth{
  width: 104px;
  height: 136px;
}
.inputFileAudio{
  display: inline !important;
  width: 147px;
  height: 29px;
  border: 1px solid red;
  opacity: 0;
  margin-left: 0px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: block;
}
.ant-modal-content {
    background-color: #FBFBFB !important;
}
.ant-notification-notice{
    border-radius: 0px !important;
    box-shadow: 0 2px 7px rgba(0,0,0,.2) !important;
    background: #f7f7f7 !important;
}
.ant-tag{
  height: auto !important;
}
.ant-input-group-wrapper{
    display: initial !important;
}
/*文章选择 mini*/
.divFlexListMini{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    overflow-y: auto;
    padding-top: 5px;
}
.divItemLineMini{
  border-radius: 6px;
  border: 1px solid #bdbdbd;
  box-shadow: 0 0 6px #bdbdbd;
  margin-left: 13px;
  margin-bottom: 10px;

  .ant-card-body{
    padding: 10px !important;
  }
  .divArticleTitle1{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 327px;
  }
  .divArticleContent2{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 359px;
  }
  .divUserHead{
    display: inline-block;
    vertical-align: top;
    .userHead{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid #a7a7a7;
      box-shadow: 0 0 10px #bdbdbd;
    }
    .imgFeedback{
      width: 80px;
      height: 80px;
      border: 2px solid #a7a7a7;
      box-shadow: 0 0 10px #bdbdbd;
    }
    .imgCoverPicture{
      width: 80px;
      height: 91px;
      border: 1px solid #bfbfbf;
      box-shadow: 0 0 10px #bdbdbd;
      background-image: url('/src/styles/images/default.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .imgPromotion{
      position: absolute;
      display: none;
      margin-left: 47px;
      margin-top: -30px;
    }
  }
  .userInfo{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    text-align: left;
  }
  .userInfo .pOverview .iconLike{
    font-size: 19px;
    margin-right: 5px;
    vertical-align: top;
    color: #cacaca;
  }
  .userInfo .pOverview .iconEye{
    font-size: 19px;
    margin-right: 5px;
    margin-left: 11px;
    vertical-align: text-bottom;
    color: #cacaca;
  }
  .userInfo .pOverview .iconLock{
    float: right;
    color: white;
    display: inline-block;
    background-color: #de4343;
    border-radius: 15%;
    padding: 4px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -47px;
  }
  .userInfo .pOverview .iconUnLock{
    float: right;
    color: white;
    display: inline-block;
    background-color: #108ee9;
    border-radius: 15%;
    padding: 4px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -47px;
  }
  .userInfo .pOverview{
    margin-top: 6px;
  }
  .userInfo .pOverview img{
    width: 20px;
    vertical-align: middle;
    margin-left: 8px;
    margin-top: -4px;
  }
}
.divImgDefault{
  margin-right: 10px;
  width: 211px;
  max-height: 276px;
  border: 1px solid #cecece;
  box-shadow: 0 0 6px #cecece;
}
.btnDeleteThumbnail{
  position: absolute !important;
  right: 22px;
  top: 6px;
}
.divItemLineMini:hover{
  border-radius: 6px;
  border: 1px solid #bdbdbd;
  box-shadow: 0 0 6px #bdbdbd;
  background-color: #F4F4F4;
  cursor: pointer;
}
.divEmptyDataMini{
  padding: 25px;
  margin: 10px;
  background-color: #f5f5f5;
}
.divDisableAssociation{
  text-align: center;
  font-size: 16px;
  background-color: whitesmoke;
  padding: 13px;
  border: 1px solid #e4e4e4;
}
.divCarouselItem{
    width: 360px;
    height: 218px;
    border: 1px solid white;
    box-shadow: none;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
    transition: border 0.5s, box-shadow 0.5s;
}
.divCarouselItem:hover{
    width: 360px;
    height: 218px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #799fe4;
    box-shadow: 0 0 6px #7a9fe2;
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
}
.divCarouselItem img{
    width: 360px;
    height: 218px;
    background-color: whitesmoke;
    background-image: url('/src/styles/images/loading.gif');
    background-repeat: no-repeat;
    background-size: 100%;
}
.divCarouselItem .divDescribe{
    position: relative;
    background-color: rgba(58, 58, 58, 0.71);
    width: 360px;
    margin-top: -32px;
    padding: 5px;
    color: white;
    height: 65px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    transition: margin-top 0.5s
}
.divCarouselItem:hover .divDescribe{
    position: relative;
    background-color: rgba(58, 58, 58, 0.71);
    width: 360px;
    margin-top: -69px;
    padding: 5px;
    color: white;
    height: 65px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    transition: margin-top 0.5s
}
.divCarouselItem .divOperate{
    position: absolute;
    margin-top: 5px;
    margin-left: 292px;
}
.divSelected{
    background-image: url('/src/styles/images/selected.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    margin-top: -60px;
    width: 70px;
    height: 70px;
    margin-left: 305px;
    display: none;
}
.divLoading{
    text-align: center;
    border: 1px solid #d8d8d8;
    margin: 13px;
    padding: 12px;
    font-size: 15px;
}
.divLoading img{
    width: 63px;
    vertical-align: middle;
    margin-top: -5px;
}
.spinUpdateLoading .ant-spin-spinning{
    position: static !important;
    display: block;
}
.center-modal {
    overflow: hidden !important;
}
.center-modal .ant-modal{
    text-align: center!important;
    top: 0px;
    padding-bottom: initial;
}
.divSorting{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    margin-top: -54px;
    display: none;
}
.divSorting .firstUp{
    margin-bottom: 5px;
    border-style: dashed !important;
}
.divSorting .firstDown{
    border-style: dashed !important;
}
.divFlexListMini::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
}
.divFlexListMini::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 8px;
}
.divFlexListMini::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 8px;
}
.divFlexListMini::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 8px;
}
blockquote{
    background-color: #f1f1f1;
    border-left: 5px solid #D0E5F2;
    padding: 7px 0 7px 5px !important;
    margin-bottom: 10px !important;
}
.ant-layout-sider-trigger{
    z-index: 1 !important;
}
#mCSB_1_scrollbar_vertical{
    z-index: 1 !important;
}
.ant-modal-header {
    background: #ececec !important;
}
.spanLoginTotal{
    float: right;
    font-weight: bold;
    color: #3fa4e4;
}
.divAuthorized{
    min-width: 535px;
}
.divAuthorized .divItem{
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 6px #afafaf;
    padding: 10px;
    height: 102px;
}
.divAuthorized .divItem .divUserHead .userHead{
    border-radius: 50%;
    border: 1px solid #d0d0d0;
    box-shadow: 0 0 6px #afafaf;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}
.divAuthorized .divItem .userInfo{
    margin-top: 9px;
    font-size: 15px;
}
.btnSearch {
    color: #fff;
    background-color: #1C85C7 !important;
    border-color: #1C85C7 !important;
}
.btnSearch:hover{
    color: #fff;
    background-color: #1A7BB9 !important;
    border-color: #1A7BB9 !important;
}
.btnInfo{
    margin-left: 10px;
    color: #fff !important;
    background-color: #23C6C8 !important;
    border-color: #23C6C8 !important;
}
.btnInfo:hover{
    margin-left: 10px;
    color: #fff !important;
    background-color: #21B9BB !important;
    border-color: #21B9BB !important;
}
.btnBindGroup{
    margin-right: 10px;
}
.untreatedFlapRed{
    position: absolute;
    background-color: red;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-top: -16px;
    right: 0px;
}
.processedFlapRed{
    position: absolute;
    background-color: green;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    margin-top: -16px;
    right: 0px;
}
.divContentInfo{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.setIsEdit{
    float: right;
    margin-top: 12px;
    color: #bbbbbb;
    font-size: 15px !important;
    margin-right: 16px;
}
.setIsEdit:hover{
    float: right;
    margin-top: 12px;
    color: #108ee9;
    font-size: 15px !important;
    margin-right: 16px;
}
.tableRoles{
    width: 100%;
    margin-bottom: 10px;
    background-color: #dedede;
    box-shadow: 0 0 6px #e0e0e0;
}
.tableRoles tr{
    line-height: 36px;
}
.tableRoles .trHeader{
    background-color: #efefef;
    box-shadow: 0 0 4px #e0e0e0 inset;
}
.tableRoles .trContent{
    background-color: #fff;
}
.tableRoles .trContent:hover{
    background-color: #f9f9f9;
}
.tableRoles tr td{
    padding-left: 10px;
    padding-right: 10px;
}
.tableRoles tr td .divBigText{
    line-height: 21px;
    white-space: inherit;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 5px;
}
.tableRoles tr td div{
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@-moz-document url-prefix(){
    //针对火狐有效
    .tableRoles tr td div{
      overflow: initial;
    }
}
.tableRoles tr .tdName{
    width: 212px;
}
.tableRoles tr .tdDescription{
    width: 35.25%;
}
.tableRoles tr .tdType{
    min-width: 99px;
    width: 99px;
}
.tableRoles tr .tdStatus{
    min-width: 58px;
    width: 58px;
}
.tableRoles tr .tdTimer{
    min-width: 129px;
    width: 129px;
}
.divContainer{
    height: 425px;
    overflow-y: auto;
}
.divContainer::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}
.divContainer::-webkit-scrollbar-track-piece
{
    background-color: #eaeaea;
    -webkit-border-radius: 5px;
}
.divContainer::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #BBB;
    -webkit-border-radius: 5px;
}
.divAuthorityList{
    width: 310px;
    max-height: 104px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 6px;
    color: black;
}
.divAuthorityList::-webkit-scrollbar
{
    width: 5px;
    height: 8px;
}
.divAuthorityList::-webkit-scrollbar-track-piece
{
    background-color: #eaeaea;
    -webkit-border-radius: 5px;
}
.divAuthorityList::-webkit-scrollbar-thumb:horizontal
{
    height: 5px;
    background-color: #BBB;
    -webkit-border-radius: 5px;
}
.divHelpStr{
    cursor: pointer;
    margin-top: 3px;
    margin-left: 8px;
    color: rgb(0, 168, 84);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.imgTopHeader{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -4px;
    image-rendering: pixelated;
}
.divRoles{
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.spanRoseGold{
    font-weight: bold;
    color: #e6ACA8;
}
.spanTextDesc{
    font-weight: bold;
    color: #108EE9;
    font-size: 15px;
    margin-left: 15px;
}
.divModuleType{
    margin-bottom: 10px;
}
.divPreviewArticle{
    width: 332px;
    height: 670px;
    background-image: url('/src/styles/viewBrowsing/6s.png');
    background-size: 100% 100%;
}
.divPreviewArticle iframe{
    margin-top: 81px;
    margin-left: 21px;
    width: 290px;
    height: 505px;
    border: 1px solid #000;
}
.divArticlePreview{
    height: 503px;
    overflow-y: auto;
}
.divArticlePreview::-webkit-scrollbar
{
    width: 5px;
    height: 8px;
}
.divArticlePreview::-webkit-scrollbar-track-piece
{
    background-color: #eaeaea;
    -webkit-border-radius: 5px;
}
.divArticlePreview::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #BBB;
    -webkit-border-radius: 5px;
}
.divArticlePreview .divTitle{
    font-size: 17px;
    text-align: left;
    margin-top: 1px;
    padding-left: 7px;
    padding-right: 5px;
    padding-top: 2px;
    font-weight: bold;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    line-height: 24px;
    color: #3A3A3A;
}
.divArticlePreview .divOtherInfo{
    font-size:12px;
    text-align:left;
    color:#BFBFBF;
    margin-left:7px;
    margin-top:6px;
}
.divArticlePreview .divPreviewItem{
    margin-top:10px;
    margin-bottom:10px;
    width:94%;
    margin-left:auto;
    margin-right:auto;
}
.divArticlePreview .divPreviewItem img{
    margin-top:0px;
    border:1px solid #e0e0e0;
    width:99%;
}
.divArticlePreview .divPreviewItem br{
    /*display: none;*/
}
.divMask{
    position: fixed;
    top: 0px;
    width: 288px;
    height: 504px;
    opacity: 0.2;
    z-index: 1;
    background-color: gray;
}
.divFileFormat{
    position: fixed;
    background-color: #fff;
    width: 288px;
    box-shadow: 0 0 10px grey;
    top: 189px;
    z-index: 2;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
}
.divFileFormat .divTitle{
    padding: 10px;
    padding-bottom: 5px;
}
.divFileFormat .radioGroup{
    margin-left: 20px;
    line-height: 23px;
    margin-top: 2px
}
.divFileFormat .divFooter{
    display: flex;
    flex-direction: row;
    border-top: 1px solid #f3f3f3;
    margin-top: 6px;
}
.divFileFormat .divFooter .btnExport{
    flex: 1;
    cursor: pointer;
    text-align: center;
    padding-top: 6px;
    border-right: 1px solid #f3f3f3;
    height: 30px;
    background-color: #108EE9;
    color: white;
}
.divFileFormat .divFooter .btnExport:hover{
    background-color: #49A9EE;
    color: white;
}
.divFileFormat .divFooter .btnClose{
    flex: 1;
    cursor: pointer;
    text-align: center;
    padding-top: 6px;
    height: 30px;
}
.divFileFormat .divFooter .btnClose:hover{
    background-color: #f9f9f9;
    color: #313131;
}
.imgTitle{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    box-shadow: 0 0 4px #636363;
    border-radius: 50%;
    margin-right: 5px;
}
.btnShowExport{
    float: right;
    margin-top: -31px;
    margin-right: 9px;
    opacity: 0.7;
}
.btnShowExport:hover{
    opacity: 1;
}
.divVideoContent{
    white-space: normal;
}
.imgAvatarUrl{
    width: 48px;
    height: 48px;
    vertical-align: top;
    margin-right: 10px;
}
.borderColor{
    border-collapse: collapse;
    border: 1px solid #dedede;
}
.borderColor1{
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.borderColor2{
    border-bottom: 1px solid #dedede;
}
.tableRoles .trContent{
    border-bottom: 1px solid #dedede;
}
.tableRoles tr .tdOperating{
    width: 33px;
    text-align: center;
    vertical-align: top;
}
.tableRoles tr .tdOperating .span{
    background-color: #f3f3f3;
    color: #848484;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
    word-break: keep-all;
}
.divReply1{
    padding: 6px;
    border-top: 1px solid #dedede;
    padding-left: 57px;
    padding-top: 24px;
    margin-bottom: 10px;
}
.divReplyDelete{
    padding: 0;
    margin-top: -17px;
    margin-left: -20px;
    text-align: center;
    padding-top: 25px;
    padding-left: 18px;
}
.divComment{
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.divCommentContent{
    display: inline-block;
    width: 100%;
    padding-right: 42px;
}
.divCommentContent .divText1{
    line-height: 13px;
    color: #8d8d8d;
    margin-top: 5px;
    // overflow: initial;
}
.divCommentContent .divText2{
    line-height: 13px;
    margin-top: 5px;
    width: 98%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
}
.divAdvancedSearch{
    margin-bottom: 10px;
    padding-left: 19px;
    background-color: #f7f7f7;
    padding-top: 10px;
}
.spanArticleInfo{
    color: #6173ff;
}
.spanArticleInfo i{
    margin-right: 5px;
}
.divCommentFlex{
    padding: 10px 6px;
}
.divCommentFlex span{
    display: flex;
    flex-direction: column;
}
.divFlexDisplay{
    width: 100%;
    margin-top: 4px;
    text-align: right;
    width: 100%;
}
.divFlexDisplay .btnCancel{
    margin-right: 10px;
}
.badgeCount sup{
    border: 1px solid #D9D9D9;
    box-shadow: none;
    margin-left: 10px;
    line-height: 15px;
    height: 17px;
    margin-top: -3px;
}
.unlockIcon{
    color: white;
    background-color: #108ee9;
    padding: 3px;
    border-radius: 50%;
    margin-right: 7px;
}
.lockIcon{
    color: white;
    background-color: #de4343;
    padding: 3px;
    border-radius: 50%;
    margin-right: 7px;
}
.imgArticlePic{
    width: 75px;
    height: 100px;
    float: left;
    margin-right: 10px;
    border: 1px solid gainsboro;
    box-shadow: 0 0 5px #d0d0d0;
}
.divNoticeTemplate{
    border: 1px solid #e8E7eB;
    box-shadow: 0 0 11px #e8E7eB;
    background-color: white;
    width: 391px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.divNoticeTemplate .divTitle{
    line-height: 44px;
    border-bottom: 1px solid #e8E7eB;
    text-align: left;
    padding-left: 17px;
}
.divNoticeTemplate .divTitle img{
    width: 26px;
    height: 26px;
    vertical-align: top;
    margin-top: 9px;
    margin-right: 4px;
}
.divNoticeTemplate .divContentTitle{
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}
.divNoticeTemplate .divContentTitle label{
    font-size: 15px;
}
.divNoticeTemplate .divContentTitle .labelTimer{
    font-size: 12px;
    color: #9b9b9b;
    display: block;
}
.divNoticeTemplate .divContentFields{
    line-height: 21px;
    text-align: left;
    padding-left: 16px;
    margin-top: 43px;
}
.divNoticeTemplate .divContentFields .divItem{
    color: #9B9B9B;
}
.divNoticeTemplate .divContentFields .divItem .divField{
    display: none; cursor: pointer;
    margin-left: 11px;
    color: black;
    width: 298px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}
.divNoticeTemplate .divContentFields .divItem .divFieldMultiLine{
    display: none; cursor: pointer;
    margin-left: 11px;
    color: black;
    width: 298px;
    vertical-align: top;
    white-space: normal;
}
.divNoticeTemplate .divContentFields input{
    margin-left: 10px;
    margin-bottom: 5px;
    width: 300px;
}
.divNoticeTemplate .divContentFields textarea{
    margin-left: 10px;
    margin-bottom: 5px;
    width: 300px;
    resize: none;
    vertical-align: top;
}
.divNoticeTemplate .divFooter{
    text-align: left;
    line-height: 33px;
    padding-left: 15px;
    border-top: 1px solid #e8E7eB;
    color: #9B9B9B;
    margin-top: 25px;
}
.divNoticeTemplate .divFooter .iconRight{
    color: #9B9B9B;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 297px;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.fa-wrench:before {
  content: "\f0ad";
}
