.pagination-wrap{
  list-style-type: none;
  flex-direction: row;
  text-align: center;
  margin-bottom: 10px;
}
.pagination-wrap .prev{
  border: 1px solid #D9D9D9;
  width: 72px;
  height: 27px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  display: inline-block;
  margin-right: 6px;
  border-radius: 3px;
  transition: border 0.4s,background-color 0.4s
}
.pagination-wrap .prev:hover{
  border: 1px solid #4ca1de;
  width: 72px;
  height: 27px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  display: inline-block;
  margin-right: 6px;
  border-radius: 3px;
  background-color: aliceblue;
}
.pagination-wrap .prev.disabled{
  background-color: #f7f7f7;
  cursor: not-allowed;
  border-radius: 3px;
  color: #BEBEBE;
  height: 27px;
  border: 1px solid #D9D9D9;
}
.pagination-wrap .page-link-btn{
  font-size: 13px;
}
.pagination-wrap .prev.disabled .page-link-btn{
  color: #e0e0e0;
}
.pagination-wrap .break{
  width: 26px;
  height: 26px;
  font-size: 22px;
  margin-top: -10px;
  display: inline-block;
  margin-right: 4px;
}
.pagination-wrap .page{
  min-width: 26px;
  padding-left: 5px;
  padding-right: 5px;
  height: 26px;
  text-align: center;
  padding-top: 1px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #469cda;
  display: inline-block;
  margin-right: 6px;
}
.pagination-wrap .page.selected{
  background-color: #4ca1de;
  color: white;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 3px #4ea8e8;
}
.pagination-wrap .next{
  border: 1px solid #D9D9D9;
  width: 72px;
  height: 27px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  display: inline-block;
  margin-right: 6px;
  border-radius: 3px;
  transition: border 0.4s,background-color 0.4s
}
.pagination-wrap .next:hover{
  border: 1px solid #4ca1de;
  width: 72px;
  height: 27px;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  display: inline-block;
  margin-right: 6px;
  border-radius: 3px;
  background-color: aliceblue;
}
.pagination-wrap .next.disabled{
  background-color: #f9f9f9;
  cursor: not-allowed;
  border: 1px solid #D9D9D9;
}
.pagination-wrap .next.disabled .page-link-btn{
  color: #e0e0e0;
}
.page-input-wrap{
    display: inline-block;
}
.page-input-wrap .input-label{
  font-size: 14px;
  margin-right: 10px;
  font-weight: bold;
  color: #108ee9;
}
.page-input-wrap .page-input{
  text-align: center;
  width: 37px;
  border: 1px solid #d2d2d2;
  font-size: 14px;
  margin-right: 10px;
  box-shadow: none;
  transition: border 0.5s,box-shadow 0.5s;
  height: 25px;
  box-shadow: 0 0 2px #e8e8e8;
}
.page-input-wrap .page-input:hover{
  text-align: center;
  width: 37px;
  border: 1px solid #74c3ff;
  font-size: 14px;
  margin-right: 10px;
  box-shadow: 0 0 4px #74c3ff;
  transition: border 0.5s,box-shadow 0.5s;
}
.page-input-wrap .page-input-btn{
  border: 1px solid #108ee9;
  background-color: #108ee9;
  font-size: 13px;
  text-align: center;
  width: 52px;
  height: 26px;
  color: white;
  padding-top: 1px;
  border-radius: 3px;
}
.page-input-wrap .page-input-btn:hover{
  border: 1px solid #108ee9;
  background-color: #489fde;
  font-size: 13px;
  text-align: center;
  width: 52px;
  height: 26px;
  padding-top: 1px;
  cursor: pointer;
}
/*------------------------------------*/
